{% load static %}
<!-- Sidebar -->
<div class="sidebar sidebar-style-2" data-background-color="dark2">
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <div class="user">
                <div class="avatar-sm float-left mr-2">
                    <img src="{% static 'suivi_de_campagne/img/user.png' %}" class="avatar-img rounded-circle">
                </div>
                <div class="info">
                    <a data-toggle="collapse" href="#collapseProfil" aria-expanded="true">
                        <span>
                            {{ nom }} {{ prenom }}
                            <span class="user-level">{{ email }}</span>
                            <span class="caret"></span>
                        </span>
                    </a>
                    <div class="clearfix"></div>
                    <div class="collapse" id="collapseProfil">
                        <ul class="nav nav-collapse">
                            <li class="nav-item">
                                <a href="/profile/{{ iduser }}">
                                    <i class="fas fa-address-card"></i> Mon profil
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/logout/">
                                    <i class="fas fa-door-closed"></i> Se déconnecter
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="nav nav-primary">
                <li class="nav-item" id="nav-dashboard">
                    <a href="/home/" class="collapsed" aria-expanded="false">
                        <i class="fas fa-home"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item" id="nav-partners">
                    <a data-toggle="collapse" href="#partenaires">
                        <i class="fas fa-handshake"></i>
                        <p>Partenaires</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="partenaires">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/partners-list/">
                                    <i class="fas fa-table"></i> Liste des partenaires
                                </a>
                            </li>
                            <li>
                                <a href="/partner-detail">
                                    <i class="fas fa-plus"></i> Ajouter un partenaire
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item" id="nav-customers">
                    <a data-toggle="collapse" href="#clients">
                        <i class="fas fa-address-book"></i>
                        <p>Clients</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="clients">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/customers-list/">
                                    <i class="fas fa-table"></i> Liste des clients
                                </a>
                            </li>
                            <li>
                                <a href="/customer-detail">
                                    <i class="fas fa-plus"></i> Ajouter un client
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                {% if isadmin == "True" %}
                    <li class="nav-item" id="nav-users">
                        <a data-toggle="collapse" href="#utilisateurs">
                            <i class="fas fa-users"></i>
                            <p>Utilisateurs</p>
                            <span class="caret"></span>
                        </a>
                        <div class="collapse" id="utilisateurs">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a href="/users-list/">
                                        <i class="fas fa-table"></i> Liste des utilisateurs
                                    </a>
                                </li>
                                <li>
                                    <a href="/user-detail">
                                        <i class="fas fa-plus"></i> Ajouter un utilisateur
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                {% endif %}
                <li class="nav-item" id="nav-campaigns">
                    <a data-toggle="collapse" href="#campagnes">
                        <i class="fas fa-bullhorn"></i>
                        <p>Campagnes</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="campagnes">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/campaigns-list/">
                                    <i class="fas fa-table"></i> Liste des campagnes
                                </a>
                            </li>
                            <li>
                                <a href="/campaign-detail/">
                                    <i class="fas fa-plus"></i> Ajouter une campagne
                                </a>
                            </li>
                            <li>
                                <a href="/campaigns-list/1">
                                    <i class="fas fa-archive"></i> Campagnes archivées
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item" id="nav-tools">
                    <a data-toggle="collapse" href="#tools">
                        <i class="fas fa-layer-group"></i>
                        <p>Outils</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="tools">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/tools-list/">
                                    <i class="fas fa-table"></i> Liste des outils
                                </a>
                            </li>
                            <li>
                                <a href="/tools/">
                                    <i class="fas fa-plus"></i> Ajouter un outil
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- End Sidebar -->
