{% extends "base.html" %}{% block title %} Client {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="row justify-content-center">
                {% include 'includes/messages.html' %}
            </div>
            <form method="post"
                  action="{% if identifier %} {% url 'edit-customer' identifier=identifier %} {% else %} {% url 'create-customer' %} {% endif %}">{% csrf_token %}
                <!-- Client -->
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <span><i class="fas fa-address-book"></i></span>
                            <span>
                                Client
                            </span>
                            {% if msg %}
                                <span class="text-danger">{{ msg | safe }}</span>
                            {% endif %}

                            {% if identifier %}
                                <a data-id="{{ identifier }}" id="supprClient"
                                   class="btn btn-danger btn-round ml-auto float-right">Supprimer</a>
                            {% endif %}
                        </div>
                    </div>

                    <div class="card-body">
                        <input type="hidden" id="identifier" name="identifier" value="{{ identifier }}">
                        <div class="row">
                            <!-- dénomination -->
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend" title="Dénomination" data-toggle="tooltip">
                                            <span class="input-group-text">
                                                <i class="fas fa-building"></i>
                                            </span>
                                        </div>
                                        {{ form.nom_entreprise }}
                                    </div>
                                </div>
                            </div>
                            <!-- Siret -->
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend" title="Siret" data-toggle="tooltip">
                                            <span class="input-group-text">
                                                <i class="fas fa-search"></i>
                                            </span>
                                        </div>
                                        {{ form.siret }}
                                    </div>
                                </div>
                            </div>
                            <!-- base -->
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <div class="row">
                                        <label class="form-label col-lg-2 labelInputgroup">Base</label>
                                        <div class="selectgroup w-100 col-lg-10">
                                            <label class="selectgroup-item">
                                                <input type="checkbox" name="bases" value="interne"
                                                       class="selectgroup-input"
                                                       {% if "interne" in form.bases.value %}checked{% endif %}>
                                                <span class="selectgroup-button">Interne</span>
                                            </label>
                                            <label class="selectgroup-item">
                                                <input type="checkbox" name="bases" value="externe"
                                                       class="selectgroup-input"
                                                       {% if "externe" in form.bases.value %}checked{% endif %}>
                                                <span class="selectgroup-button">Externe</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Code postal -->
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend" title="Code postal" data-toggle="tooltip">
                                            <span class="input-group-text">
                                                <i class="fas fa-map-marker-alt"></i>
                                            </span>
                                        </div>
                                        {{ form.code_postal }}
                                    </div>
                                </div>
                            </div>
                            <!-- leviers -->
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend" title="Leviers" data-toggle="tooltip">
                                            <span class="input-group-text">
                                                <i class="fas fa-rocket"></i>
                                            </span>
                                        </div>
                                        <select multiple="" class="form-control selectize-multiple" id="selectLevier"
                                                name="leviers">
                                            <option value=""></option>
                                            {% for un_levier in leviers %}
                                                <option value="{{ un_levier.id }}">{{ un_levier.libelle }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- thématiques -->
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend" title="Thématiques" data-toggle="tooltip">
                                            <span class="input-group-text">
                                                <i class="fab fa-affiliatetheme"></i>
                                            </span>
                                        </div>
                                        <select multiple="" class="form-control selectize-multiple"
                                                id="selectThematique" name="thematiques">
                                            <option value=""></option>
                                            {% for un_theme in themes %}
                                                <option value="{{ un_theme.id }}">{{ un_theme.libelle }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- thématiques blacklistées -->
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend" title="Thématiques blacklistées"
                                             data-toggle="tooltip">
                                            <span class="input-group-text">
                                                <i class="fab fa-affiliatetheme"></i>
                                            </span>
                                        </div>
                                        <select multiple="" class="form-control selectize-multiple" id="selectThemeBL"
                                                name="thematiques_blacklist">
                                            <option value=""></option>
                                            {% for un_theme_bl in themes_bl %}
                                                <option value="{{ un_theme_bl.id }}">{{ un_theme_bl.libelle }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- Commentaire -->
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend" title="Commentaires" data-toggle="tooltip">
                                            <span class="input-group-text">
                                                <i class="fas fa-comment"></i>
                                            </span>
                                        </div>
                                        {{ form.commentaire }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--  Contact -->
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <span>
                                <i class="fas fa-user"></i>
                            </span>
                            <span>
                                Contact
                            </span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <!-- nom -->
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend" title="Nom" data-toggle="tooltip">
                                            <span class="input-group-text">
                                                <i class="fas fa-users"></i>
                                            </span>
                                        </div>
                                        {{ form.nom }}
                                    </div>
                                </div>
                            </div>
                            <!-- prénom -->
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend" title="Prénom" data-toggle="tooltip">
                                            <span class="input-group-text">
                                                <i class="fas fa-user"></i>
                                            </span>
                                        </div>
                                        {{ form.prenom }}
                                    </div>
                                </div>
                            </div>
                            <!-- fonction -->
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend" title="Fonction" data-toggle="tooltip">
                                            <span class="input-group-text">
                                                <i class="fas fa-user-tie"></i>
                                            </span>
                                        </div>
                                        {{ form.fonction }}
                                    </div>
                                </div>
                            </div>
                            <!-- email -->
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend" title="Email" data-toggle="tooltip">
                                            <span class="input-group-text">
                                                <i class="fas fa-at"></i>
                                            </span>
                                        </div>
                                        {{ form.email }}
                                    </div>
                                </div>
                            </div>
                            <!-- tel fixe -->
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend" title="Téléphone fixe" data-toggle="tooltip">
                                            <span class="input-group-text">
                                                <i class="fas fa-phone"></i>
                                            </span>
                                        </div>
                                        {{ form.telephone_fixe }}
                                    </div>
                                </div>
                            </div>
                            <!-- tel mobile -->
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend" title="Téléphone mobile" data-toggle="tooltip">
                                            <span class="input-group-text">
                                                <i class="fas fa-mobile-alt"></i>
                                            </span>
                                        </div>
                                        {{ form.telephone_mobile }}
                                    </div>
                                </div>
                            </div>
                            <!-- skype -->
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend" title="Skype" data-toggle="tooltip">
                                            <span class="input-group-text">
                                                <i class="fab fa-skype"></i>
                                            </span>
                                        </div>
                                        {{ form.skype }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-action text-center">
                        <button type="submit" class="btn btn-success btn-round ml-auto">Envoyer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
    <script>
        supprObject("#supprClient", "Etes vous sur de vouloir supprimer ce client ?", "/delete-customer/")
        $("#nav-customers").addClass("active")

        //Valeurs leviers
        leviers = "{{form.leviers.value}}"
        leviers = leviers.split(",")
        $("#selectLevier option").each(function () {
            for (var i = 0; i < leviers.length; i++) {
                if (leviers[i] == $(this).val()) {
                    $(this).attr("selected", true)
                }
            }
        })
        //Valeurs themes
        thematiques = "{{form.thematiques.value}}"
        thematiques = thematiques.split(",")
        $("#selectThematique option").each(function () {
            for (var i = 0; i < thematiques.length; i++) {
                if (thematiques[i] == $(this).val()) {
                    $(this).attr("selected", true)
                }
            }
        })
        //Valeurs themes_bl
        thematiques_blacklist = "{{form.thematiques_blacklist.value}}"
        thematiques_blacklist = thematiques_blacklist.split(",")
        $("#selectThemeBL option").each(function () {
            for (var i = 0; i < thematiques_blacklist.length; i++) {
                if (thematiques_blacklist[i] == $(this).val()) {
                    $(this).attr("selected", true)
                }
            }
        })

        // Selectized
        $(".selectize-multiple").selectize({
            plugins: ['remove_button'],
            valueField: 'value',
            labelField: 'text',
            searchField: ['text'],
            delimiter: ',',
            persist: false,
            create: false
        });
    </script>
{% endblock javascripts %}