{% extends "base.html" %} {% block title %} Login {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

    <div class="flex-fill d-flex flex-column justify-content-center py-4">
        <div class="container-tight py-6">
            <form class="card card-md" action="/reset-password/" method="post">{% csrf_token %}
                <div class="card-body p-6">
                    <div class="card-title text-center"></div>
                    <p class="text-muted">Un nouveau mot de passe va être généré et vous sera envoyé par e-mail.</p>
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" aria-describedby="emailHelp"
                               placeholder="Votre adresse e-mail" value="{{ email }}" required/>
                    </div>
                    <div class="form-footer">
                        <button type="submit" class="btn btn-primary w-100 mb-1"> Réinitialiser mon mot de passe
                        </button>
                        <a href="javascript:history.back();" class="btn btn-secondary w-100">Retourner à l'écran de
                            connexion</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
