{% extends "base.html" %}{% block title %} Liste des partenaires {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title">
                            <i class="fas fa-handshake"></i>
                            Liste des partenaires
                        </h4>
                        <a href="/partner-detail/" class="btn btn-info btn-round ml-auto">
                            <i class="fa fa-plus"></i>
                            Ajouter un nouveau partenaire
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="basic-datatables_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="basic-datatables"
                                            class="display table table-striped table-hover dataTable" role="grid"
                                            aria-describedby="basic-datatables_info">
                                        <thead>
                                        <tr>
                                            <th scope="col" class="siret">Siret</th>
                                            <th scope="col">Nom du partenaire</th>
                                            <th scope="col">Date de création</th>
                                            <th scope="col">Date de modification</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for partenaire in partenaires %}
                                            <tr role="row" class="odd">
                                                <td class="siret">{{ partenaire.siret }}</td>
                                                <td>{{ partenaire.nom_partenaire }}</td>
                                                <td>{{ partenaire.datecreation|date:"d/m/Y H:i" }}</td>
                                                <td>{{ partenaire.datemodification|date:"d/m/Y H:i" }}</td>
                                                <td>
                                                    <a class="btn btn-secondary btn-round ml-auto" href="{% url 'partner-detail' identifier=partenaire.id %}"><i class="fas fa-pen-alt"></i></a>
                                                    <button class="btn btn-danger btn-round ml-auto supprPartenaire" data-id="{{ partenaire.id }}"><i class="fas fa-trash-alt"></i></button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
    supprObject(".supprPartenaire", "Etes vous sur de vouloir supprimer ce partenaire ?", "/delete-partner/")
</script>
{% endblock javascripts %}
