{% extends "base.html" %}{% block title %} Partenaire {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <form method="post" action="{% if identifier %} {% url 'edit-partner' identifier=identifier %} {% else %} {% url 'create-partner' %} {% endif %}">{% csrf_token %}
                <!-- Partenaire -->
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <span><i class="fas fa-handshake"></i></span>
                            <span>
                                Partenaire
                            </span>
                            {% if msg %}
                                <span class="text-danger">{{ msg | safe }}</span>
                            {% endif %}

                            {% if identifier %}
                                <a data-id="{{identifier}}" id="supprPartenaire" class="btn btn-danger btn-round ml-auto float-right">Supprimer</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body">
                        <input type="hidden" id="identifier" name="identifier" value="{{identifier}}">
                        <div class="row">
                            <!-- dénomination -->
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend" title="Dénomination" data-toggle="tooltip">
                                            <span class="input-group-text">
                                                <i class="fas fa-building"></i>
                                            </span>
                                        </div>
                                        {{ form.nom_partenaire }}
                                    </div>
                                </div>
                            </div>
                            <!-- Siret -->
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend" title="Siret" data-toggle="tooltip">
                                            <span class="input-group-text">
                                                <i class="fas fa-search"></i>
                                            </span>
                                        </div>
                                        {{ form.siret }}
                                    </div>
                                </div>
                            </div>
                            <!-- base -->
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <div class="row">
                                        <label class="form-label col-lg-2 labelInputgroup">Base</label>
                                        <div class="selectgroup w-100 col-lg-10">
                                            <label class="selectgroup-item">
                                                <input type="checkbox" name="bases" value="interne" class="selectgroup-input" {% if "interne" in form.bases.value %}checked{% endif %}>
                                                <span class="selectgroup-button h-100">Interne</span>
                                            </label>
                                            <label class="selectgroup-item">
                                                <input type="checkbox" name="bases" value="externe" class="selectgroup-input" {% if "externe" in form.bases.value %}checked{% endif %}>
                                                <span class="selectgroup-button h-100">Externe</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- categorie -->
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend" title="Catégories" data-toggle="tooltip">
                                            <span class="input-group-text">
                                                <i class="fas fa-stamp"></i>
                                            </span>
                                        </div>
                                        {{ form.categories }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--  Contact -->
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <span>
                                <i class="fas fa-user"></i>
                            </span>
                            <span>
                                Contact
                            </span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <!-- nom -->
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend" title="Nom" data-toggle="tooltip">
                                            <span class="input-group-text">
                                                <i class="fas fa-users"></i>
                                            </span>
                                        </div>
                                        {{ form.nom_contact }}
                                    </div>
                                </div>
                            </div>
                            <!-- prénom -->
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend" title="Prénom" data-toggle="tooltip">
                                            <span class="input-group-text">
                                                <i class="fas fa-user"></i>
                                            </span>
                                        </div>
                                        {{ form.prenom }}
                                    </div>
                                </div>
                            </div>
                            <!-- fonction -->
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend" title="Fonction" data-toggle="tooltip">
                                            <span class="input-group-text">
                                                <i class="fas fa-user-tie"></i>
                                            </span>
                                        </div>
                                        {{ form.fonction }}
                                    </div>
                                </div>
                            </div>
                            <!-- email -->
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend" title="Email" data-toggle="tooltip">
                                            <span class="input-group-text">
                                                <i class="fas fa-at"></i>
                                            </span>
                                        </div>
                                        {{ form.email }}
                                    </div>
                                </div>
                            </div>
                            <!-- tel -->
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend" title="Téléphone" data-toggle="tooltip">
                                            <span class="input-group-text">
                                                <i class="fas fa-phone"></i>
                                            </span>
                                        </div>
                                        {{ form.telephone }}
                                    </div>
                                </div>
                            </div>
                            <!-- skype -->
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend" title="Skype" data-toggle="tooltip">
                                            <span class="input-group-text">
                                                <i class="fab fa-skype"></i>
                                            </span>
                                        </div>
                                        {{ form.skype }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-action text-center">
                        <button type="submit" class="btn btn-success btn-round ml-auto">Envoyer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
    supprObject("#supprPartenaire", "Etes vous sur de vouloir supprimer ce partenaire ?", "/delete-partner/")
    $("#nav-partners").addClass("active")
</script>
{% endblock javascripts %}