{% extends "base.html" %}{% block title %} tool {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <form method="post" action="{% url 'create-theme' %}">{% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <div class="card-title">
                                <span><i class="fab fa-affiliatetheme"></i></span>
                                <span>
                                    Thèmes
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <input type="hidden" id="identifier" name="identifier" value="{{ context.identifier }}">
                        <div class="row">
                            <!-- Libellé thème -->
                            <div class="col-9">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                Libellé
                                            </span>
                                        </div>
                                        {{ form_theme.libelle }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <button type="submit" class="btn btn-success btn-round ml-auto mt-2">Envoyer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form method="post" action="{% url 'create-blacklist-theme' %}">{% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <div class="card-title">
                                <span><i class="fab fa-affiliatetheme"></i></span>
                                <span>
                                    Blacklist thèmes
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <input type="hidden" id="identifier" name="identifier" value="{{ context.identifier }}">
                        <div class="row">
                            <!-- Libellé liste noire thème -->
                            <div class="col-9">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                Libellé
                                            </span>
                                        </div>
                                        {{ form_blacklist_theme.libelle }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <button type="submit" class="btn btn-success btn-round ml-auto mt-2">Envoyer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form method="post" action="{% url 'create-levier' %}">{% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <div class="card-title">
                                <span><i class="fas fa-rocket"></i></span>
                                <span>
                                    Leviers
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <input type="hidden" id="identifier" name="identifier" value="{{ context.identifier }}">
                        <div class="row">
                            <!-- Libellé levier -->
                            <div class="col-9">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                Libellé
                                            </span>
                                        </div>
                                        {{ form_levier.libelle }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <button type="submit" class="btn btn-success btn-round ml-auto mt-2">Envoyer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form method="post" action="{% url 'create-modele-economique' %}">{% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <div class="card-title">
                                <span><i class="fas fa-chart-line"></i></span>
                                <span>
                                    Modèles économiques
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <input type="hidden" id="identifier" name="identifier" value="{{ context.identifier }}">
                        <div class="row">
                            <!-- Libellé modèle économique -->
                            <div class="col-9">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                Libellé
                                            </span>
                                        </div>
                                        {{ form_modele_economique.libelle }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <button type="submit" class="btn btn-success btn-round ml-auto mt-2">Envoyer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form method="post" action="{% url 'create-categorie' %}">{% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <div class="card-title">
                                <span><i class="fas fa-stamp"></i></span>
                                <span>
                                    Catégories
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <input type="hidden" id="identifier" name="identifier" value="{{ context.identifier }}">
                        <div class="row">
                            <!-- Libellé modèle économique -->
                            <div class="col-9">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                Libellé
                                            </span>
                                        </div>
                                        {{ form_categorie.libelle }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <button type="submit" class="btn btn-success btn-round ml-auto mt-2">Envoyer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
    $("#nav-tools").addClass("active")
</script>
{% endblock javascripts %}