{% extends "base.html" %}{% block title %} tool {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <div class="card-title">
                            <span><i class="fab fa-affiliatetheme"></i></span>
                            <span>
                                Thèmes
                            </span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="basic-datatables_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="basic-datatables"
                                           class="display table table-striped table-hover dataTable" role="grid"
                                           aria-describedby="basic-datatables_info">
                                        <thead>
                                        <tr>
                                            <th scope="col">Libellé</th>
                                            <th scope="col">Date de création</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for theme in themes %}
                                            <tr role="row" class="odd">
                                                <td>{{ theme.libelle }}</td>
                                                <td>{{ theme.datecreation }}</td>
                                                <td>
                                                    <a class="btn btn-danger btn-round ml-auto"
                                                       href="{% url 'delete-theme' identifier=theme.id %}"><i
                                                            class="fas fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <div class="card-title">
                            <span><i class="fab fa-affiliatetheme"></i></span>
                            <span>
                                Blacklist thèmes
                            </span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="basic-datatables_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="basic-datatables"
                                           class="display table table-striped table-hover dataTable" role="grid"
                                           aria-describedby="basic-datatables_info">
                                        <thead>
                                        <tr>
                                            <th scope="col">Libellé</th>
                                            <th scope="col">Date de création</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for theme in themes_liste_noire %}
                                            <tr role="row" class="odd">
                                                <td>{{ theme.libelle }}</td>
                                                <td>{{ theme.datecreation }}</td>
                                                <td>
                                                    <a class="btn btn-danger btn-round ml-auto"
                                                       href="{% url 'delete-blacklist-theme' identifier=theme.id %}"><i
                                                            class="fas fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <div class="card-title">
                            <span><i class="fas fa-rocket"></i></span>
                            <span>
                                Leviers
                            </span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="basic-datatables_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="basic-datatables"
                                           class="display table table-striped table-hover dataTable" role="grid"
                                           aria-describedby="basic-datatables_info">
                                        <thead>
                                        <tr>
                                            <th scope="col">Libellé</th>
                                            <th scope="col">Date de création</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for levier in leviers %}
                                            <tr role="row" class="odd">
                                                <td>{{ levier.libelle }}</td>
                                                <td>{{ levier.datecreation }}</td>
                                                <td>
                                                    <a class="btn btn-danger btn-round ml-auto"
                                                       href="{% url 'delete-levier' identifier=levier.id %}"><i
                                                            class="fas fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <div class="card-title">
                            <span><i class="fas fa-chart-line"></i></span>
                            <span>
                                Modèles économiques
                            </span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="basic-datatables_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="basic-datatables"
                                           class="display table table-striped table-hover dataTable" role="grid"
                                           aria-describedby="basic-datatables_info">
                                        <thead>
                                        <tr>
                                            <th scope="col">Libellé</th>
                                            <th scope="col">Date de création</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for modele_economique in modeles_economiques %}
                                            <tr role="row" class="odd">
                                                <td>{{ modele_economique.libelle }}</td>
                                                <td>{{ modele_economique.datecreation }}</td>
                                                <td>
                                                    <a class="btn btn-danger btn-round ml-auto"
                                                       href="{% url 'delete-modele-economique' identifier=modele_economique.id %}"><i
                                                            class="fas fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <div class="card-title">
                            <span><i class="fas fa-stamp"></i></span>
                            <span>
                                Catégories
                            </span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="basic-datatables_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="basic-datatables"
                                           class="display table table-striped table-hover dataTable" role="grid"
                                           aria-describedby="basic-datatables_info">
                                        <thead>
                                        <tr>
                                            <th scope="col">Libellé</th>
                                            <th scope="col">Date de création</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for categorie in categories %}
                                            <tr role="row" class="odd">
                                                <td>{{ categorie.libelle }}</td>
                                                <td>{{ categorie.datecreation }}</td>
                                                <td>
                                                    <a class="btn btn-danger btn-round ml-auto"
                                                       href="{% url 'delete-categorie' identifier=categorie.id %}"><i
                                                            class="fas fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
    $("#nav-tools").addClass("active")
</script>
{% endblock javascripts %}